a:link
{
	color: rgb(255, 255, 255); 
	font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
}
a:visited
{
	color: rgb(255, 255, 255); 
    font-size: 16px;
} 
a:active 
{
	color: rgb(255, 255, 255);
    font-size: 16px;
}
a:hover
{
	color: rgb(250, 203, 113);
    font-size: 16px;
}

body
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	color: rgb(255,255,255);
	background-color: rgb(46, 45, 45);
}
h1, h2, h3, h4, h5, h6
{
	font-family: Arial, Verdana, Helvetica;
}
h1
{
	color: rgb(39, 39, 38);
	font-size: 32px;
}
h2
{
	color: rgb(0,0,128); 
	font-size: 24px;
}
h3
{
	color: rgb(255, 255, 255);; 
	font-size: 24px;
}
h4
{
	color: rgb(0,0,132);
	font-family: Courier new, Courier, Fixedsys, Verdana, Arial, Helvetica;
	font-size : 12px;

}
h5
{
	color: rgb(0,0,132);
	font-size: 14px;
	vertical-align : middle;
}

/* Observacoes e notas de rodape */
h6
{
	color: rgb(0,0,160);
	font-size: 10px;
}

body:menuitem
{
	table-font-family: Arial, Verdana, Helvetica;
	font-size: 18px ;
	color: rgb(0, 0, 0);
}
table
{
    position:relative;
	font-family: Arial, Verdana, Helvetica;
	font-size: 12px;
	color: rgb(255, 255, 255);
	/*padding: 10px; */
    text-align: center;
}

.a td{
    font-size:16px;
	padding-bottom: 1%;
	color: rgb(255, 255, 255);  }



#logo-topo {
    float:left;
}



#caixa-busca {
    font-size: 30px;
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 20%;
    margin-bottom: 20%;
}

#busca {
    background-image: url(./images/barra_buscas.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin-left:10%;
    margin-right: 10%;
}

#limita-busca {
    margin-top: 130px;
}

.botao-topo {
    font-size: 30px; 
    float:right;
    padding-top:40px;
    padding-left: 20px;
}

hr {
    margin-top:20px;
}

header {
    padding-left: 10%;
    padding-right: 10%;
    height: 78px;
}

.dados-evt {
    background-color: #000000;
    border: thin;
    border-left-color: #707070;
}
footer {
    padding-top: 5%;
}

#form-criacao {
    position:relative;
    background-size:contain;
    background-position:center;
    padding-bottom:10%;
    margin-left: 10%;
    margin-right: 10%;
}
#form-criacao:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./images/criacao_fundo3.jpg);
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}
#proxevt {
    font-size: 20px;
    margin-left: 10%;
}

.detevt {
    margin-left: 10%;
    font-size:14px;
}

#tabelaform {
    text-align:left;
}
#form-insc{
    text-align: left;
}
#tela-gravar{
    font-size:14px;
    padding-left: 10%;
}
